/target
**/*.rs.bk
Cargo.lock

# don't commit dynamic libs (make them)
*.so
*.dll
*.dylib

# don't commit header file (use build.rs)
# or swig intermediate files
*.h
*.c

# python auto-gen
build
*.pyc
rust_binding.py

# go auto-gen
rust_binding.go